Source: janest-core
Section: ocaml
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders:
 Mehdi Dogguy <mehdi@debian.org>,
 Stéphane Glondu <glondu@debian.org>,
 Lifeng Sun <lifongsun@gmail.com>
Build-Depends:
 debhelper (>= 9),
 bc,
 dh-ocaml (>= 0.9~),
 ocaml-nox (>= 4.00.1),
 ocaml-findlib (>= 1.4),
 camlp4,
 camlp4-extra,
 libres-ocaml-dev (>= 4.0.2),
 libpcre-ocaml-dev,
 libounit-ocaml-dev,
 libbin-prot-camlp4-dev,
 libsexplib-camlp4-dev,
 libtype-conv-camlp4-dev (>= 3.0.5),
 libfields-camlp4-dev
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-ocaml-maint/packages/janest-core.git
Vcs-Git: git://anonscm.debian.org/pkg-ocaml-maint/packages/janest-core.git
Homepage: http://janestreet.github.io/

Package: libenumerate-camlp4-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 camlp4,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: OCaml syntax extension for enumerate
 TODO

Package: libtyperep-ocaml-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: typerep
 typerep

Package: libcompare-camlp4-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 camlp4,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: OCaml syntax extension for deriving compare functions automatically
 comparelib is a camlp4 syntax extension that derives comparison functions from
 type representations. The scaffolded functions are usually much faster than
 ocaml's Pervasives.compare. Scaffolding functions also gives you more
 flexibilty by allowing you to override them for a specific type and more
 safety by making sure that you only compare comparable values.
 .
 comparelib is built on top of CamlP4.

Package: libhere-camlp4-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 camlp4,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: OCaml syntax extension for inserting the current location
 herelib is an OCaml syntax extension that can be used to inserte the
 current location of the source file.
 .
 herelib is built on top of CamlP4.

Package: libpa-ounit-camlp4-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 camlp4,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: OCaml syntax extension for writing inline testing
 pa-ounit is an OCaml syntax extension that can be used to write inline
 testing.
 .
 pa-ounit is built on top of CamlP4.

Package: libpa-bench-camlp4-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 camlp4,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: OCaml syntax extension for writing inline benchmark
 pa-bench is an OCaml syntax extension that can be used to write inline
 benchmark.
 .
 pa-bench is built on top of CamlP4.

Package: libpipebang-camlp4-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 camlp4,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: OCaml syntax extension to transform x|! f into f x
 pipebang is an OCaml syntax extension that can be used to
 transform x|! f into f x.
 .
 pipebang is built on top of CamlP4.

Package: libvariants-camlp4-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 camlp4,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: OCaml syntax extension to support variants as first class values
 variantslib is an OCaml syntax extension that can be used to define first
 class values representing variants. On top of those variants additional
 routines can then be automatically defined to:
 .
  - create new variants values
  - iterate, fold and map over variants
 .
 variantslib is built on top of CamlP4.

Package: libcore-kernel-ocaml-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 camlp4,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Jane Street's standard library for OCaml - kernel
 Core is an alternative to the OCaml standard library developed by
 Jane Street Capital.
 .
 Core does a number of things:
 .
  * provides tail recursive versions of non tail recursive functions in
    the standard library;
  * changes the signature of many of the standard modules to enforce
    consistent naming conventions;
  * includes generic serialization for most types;
  * adds some new modules as well as new functionality to existing
    modules.
 .
 Beware that Core extends some functionality of the legacy standard
 library, and outright changes or replaces other; backward compatibility
 with the legacy standard library has not to be expected.
 .
 The code of Core is routinely reviewed within Jane Street Capital
 according to their quality assurance requirements.
 .
 Core-kernel is the system-independent part of Core.  It is aimed for
 cases when the full Core is not available, such as in Javascript.
 .
 This package contains the development stuff you need to use Core-kernel
 in your programs.

Package: libcore-kernel-ocaml
Architecture: any
Depends:
 ocaml-findlib,
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Jane Street's standard library for OCaml - kernel (runtime)
 Core is an alternative to the OCaml standard library developed by
 Jane Street Capital.
 .
 Core does a number of things:
 .
  * provides tail recursive versions of non tail recursive functions in
    the standard library;
  * changes the signature of many of the standard modules to enforce
    consistent naming conventions;
  * includes generic serialization for most types;
  * adds some new modules as well as new functionality to existing
    modules.
 .
 Beware that Core extends some functionality of the legacy standard
 library, and outright changes or replaces other; backward compatibility
 with the legacy standard library has not to be expected.
 .
 The code of Core is routinely reviewed within Jane Street Capital
 according to their quality assurance requirements.
 .
 Core-kernel is the system-independent part of Core.  It is aimed for
 cases when the full Core is not available, such as in Javascript.
 .
 This package contains the runtime stuff you need to run programs using
 Core-kernel.

Package: libpa-test-camlp4-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 camlp4,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: OCaml syntax extension for writing inline testing
 pa-test

Package: libcore-ocaml-dev
Architecture: any
Depends:
 ocaml-findlib,
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Jane Street's standard library for OCaml
 Core is an alternative to the OCaml standard library developed by
 Jane Street Capital.
 .
 Core does a number of things:
 .
  * provides tail recursive versions of non tail recursive functions in
    the standard library;
  * changes the signature of many of the standard modules to enforce
    consistent naming conventions;
  * includes generic serialization for most types;
  * adds some new modules as well as new functionality to existing
    modules.
 .
 Beware that Core extends some functionality of the legacy standard
 library, and outright changes or replaces other; backward compatibility
 with the legacy standard library has not to be expected.
 .
 The code of Core is routinely reviewed within Jane Street Capital
 according to their quality assurance requirements.
 .
 This package contains the development stuff you need to use Core in
 your programs.

Package: libcore-ocaml
Architecture: any
Depends:
 ocaml-findlib,
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Jane Street's standard library for OCaml (runtime)
 Core is an alternative to the OCaml standard library developed by
 Jane Street Capital.
 .
 Core does a number of things:
 .
  * provides tail recursive versions of non tail recursive functions in
    the standard library;
  * changes the signature of many of the standard modules to enforce
    consistent naming conventions;
  * includes generic serialization for most types;
  * adds some new modules as well as new functionality to existing
    modules.
 .
 Beware that Core extends some functionality of the legacy standard
 library, and outright changes or replaces other; backward compatibility
 .
 The code of Core is routinely reviewed within Jane Street Capital
 according to their quality assurance requirements.
 .
 This package contains the runtime stuff you need to run programs using
 Core.

Package: libcustom-printf-camlp4-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 camlp4,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: OCaml syntax extension for printf format strings
 custom-printf is an OCaml syntax extension that can be used to printf
 format strings.
 .
 custom-printf is built on top of CamlP4.

Package: libasync-kernel-ocaml-dev
Architecture: any
Depends:
 ocaml-findlib,
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Asynchronous programming library for OCaml (kernel)
 Async uses non-preemptive user-level threads and first-class blocking
 operations with blocking expressed in the type system to implement
 asynchronous programming. The benefits of the approach are:
 .
  * Non-preemptive threading is simpler to reason about than pre-emptive
    threading. For the bulk of one's program, one doesn't have to think
    about race conditions, mutexes, etc. One can also use existing
    non-thread-safe code without worries.
  * User level threads are much cheaper than threads provided by the
    operating system, both in creation and context switching.
  * Users can control the scheduler for threads, which makes it possible
    to do a better job for the application at hand.
  * Writing low latency applications is easier -- it's harder to have an
    application block indefinitely by mistake.
 .
 This package provides kernel component of Async.

Package: libasync-unix-ocaml-dev
Architecture: any
Depends:
 ocaml-findlib,
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Asynchronous programming library for OCaml (unix)
 Async uses non-preemptive user-level threads and first-class blocking
 operations with blocking expressed in the type system to implement
 asynchronous programming. The benefits of the approach are:
 .
  * Non-preemptive threading is simpler to reason about than pre-emptive
    threading. For the bulk of one's program, one doesn't have to think
    about race conditions, mutexes, etc. One can also use existing
    non-thread-safe code without worries.
  * User level threads are much cheaper than threads provided by the
    operating system, both in creation and context switching.
  * Users can control the scheduler for threads, which makes it possible
    to do a better job for the application at hand.
  * Writing low latency applications is easier -- it's harder to have an
    application block indefinitely by mistake.
 .
 This package provides unix component of Async.

Package: libasync-extra-ocaml-dev
Architecture: any
Depends:
 ocaml-findlib,
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Asynchronous programming library for OCaml (extra)
 Async uses non-preemptive user-level threads and first-class blocking
 operations with blocking expressed in the type system to implement
 asynchronous programming. The benefits of the approach are:
 .
  * Non-preemptive threading is simpler to reason about than pre-emptive
    threading. For the bulk of one's program, one doesn't have to think
    about race conditions, mutexes, etc. One can also use existing
    non-thread-safe code without worries.
  * User level threads are much cheaper than threads provided by the
    operating system, both in creation and context switching.
  * Users can control the scheduler for threads, which makes it possible
    to do a better job for the application at hand.
  * Writing low latency applications is easier -- it's harder to have an
    application block indefinitely by mistake.
 .
 This package provides extra component of Async.

Package: libasync-ocaml-dev
Architecture: any
Depends:
 ocaml-findlib,
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Asynchronous programming library for OCaml
 Async uses non-preemptive user-level threads and first-class blocking
 operations with blocking expressed in the type system to implement
 asynchronous programming. The benefits of the approach are:
 .
  * Non-preemptive threading is simpler to reason about than pre-emptive
    threading. For the bulk of one's program, one doesn't have to think
    about race conditions, mutexes, etc. One can also use existing
    non-thread-safe code without worries.
  * User level threads are much cheaper than threads provided by the
    operating system, both in creation and context switching.
  * Users can control the scheduler for threads, which makes it possible
    to do a better job for the application at hand.
  * Writing low latency applications is easier -- it's harder to have an
    application block indefinitely by mistake.
 .
 This package provides Async development stuffs.

Package: libtextutils-ocaml-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Text output utilities
 textutils is a OCaml library to create ASCII table and print a list
 in a columnize way.

Package: libre2-ocaml
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Jane Street's standard library for OCaml - re2 library (runtime)
 Core is an alternative to the OCaml standard library developed by
 Jane Street Capital.
 .
 Core does a number of things:
 .
  * provides tail recursive versions of non tail recursive functions in
    the standard library;
  * changes the signature of many of the standard modules to enforce
    consistent naming conventions;
  * includes generic serialization for most types;
  * adds some new modules as well as new functionality to existing
    modules.
 .
 Beware that Core extends some functionality of the legacy standard
 library, and outright changes or replaces other; backward compatibility
 with the legacy standard library has not to be expected.
 .
 The code of Core is routinely reviewed within Jane Street Capital
 according to their quality assurance requirements.
 .
 This package contains the runtime stuff you need to run programs using
 re2 library of Core.

Package: libre2-ocaml-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Jane Street's standard library for OCaml - re2 library
 Core is an alternative to the OCaml standard library developed by
 Jane Street Capital.
 .
 Core does a number of things:
 .
  * provides tail recursive versions of non tail recursive functions in
    the standard library;
  * changes the signature of many of the standard modules to enforce
    consistent naming conventions;
  * includes generic serialization for most types;
  * adds some new modules as well as new functionality to existing
    modules.
 .
 Beware that Core extends some functionality of the legacy standard
 library, and outright changes or replaces other; backward compatibility
 with the legacy standard library has not to be expected.
 .
 The code of Core is routinely reviewed within Jane Street Capital
 according to their quality assurance requirements.
 .
 This package contains the development stuff you need to use re2
 library of Core in your programs.

Package: libcore-extended-ocaml-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 camlp4,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Jane Street's standard library for OCaml - extended
 Core is an alternative to the OCaml standard library developed by
 Jane Street Capital.
 .
 Core does a number of things:
 .
  * provides tail recursive versions of non tail recursive functions in
    the standard library;
  * changes the signature of many of the standard modules to enforce
    consistent naming conventions;
  * includes generic serialization for most types;
  * adds some new modules as well as new functionality to existing
    modules.
 .
 Beware that Core extends some functionality of the legacy standard
 library, and outright changes or replaces other; backward compatibility
 with the legacy standard library has not to be expected.
 .
 The code of Core is routinely reviewed within Jane Street Capital
 according to their quality assurance requirements.
 .
 Core-extended is a set of useful extensions to Core. These are less well
 tested and less stable than Core proper.
 .
 This package contains the development stuff you need to use Core-extended
 in your programs.

Package: libcore-extended-ocaml
Architecture: any
Depends:
 ocaml-findlib,
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Jane Street's standard library for OCaml - extended (runtime)
 Core is an alternative to the OCaml standard library developed by
 Jane Street Capital.
 .
 Core does a number of things:
 .
  * provides tail recursive versions of non tail recursive functions in
    the standard library;
  * changes the signature of many of the standard modules to enforce
    consistent naming conventions;
  * includes generic serialization for most types;
  * adds some new modules as well as new functionality to existing
    modules.
 .
 Beware that Core extends some functionality of the legacy standard
 library, and outright changes or replaces other; backward compatibility
 with the legacy standard library has not to be expected.
 .
 The code of Core is routinely reviewed within Jane Street Capital
 according to their quality assurance requirements.
 .
 Core-extended is a set of useful extensions to Core. These are less well
 tested and less stable than Core proper.
 .
 This package contains the runtime stuff you need to run programs using
 Core-extended.

Package: libcore-bench-ocaml
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Jane Street's standard library for OCaml - benchmark library (runtime)
 Core is an alternative to the OCaml standard library developed by
 Jane Street Capital.
 .
 Core does a number of things:
 .
  * provides tail recursive versions of non tail recursive functions in
    the standard library;
  * changes the signature of many of the standard modules to enforce
    consistent naming conventions;
  * includes generic serialization for most types;
  * adds some new modules as well as new functionality to existing
    modules.
 .
 Beware that Core extends some functionality of the legacy standard
 library, and outright changes or replaces other; backward compatibility
 with the legacy standard library has not to be expected.
 .
 The code of Core is routinely reviewed within Jane Street Capital
 according to their quality assurance requirements.
 .
 This package contains the runtime stuff you need to run programs using
 benchmark library of Core.

Package: libcore-bench-ocaml-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ocaml-findlib,
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Jane Street's standard library for OCaml - benchmark library
 Core is an alternative to the OCaml standard library developed by
 Jane Street Capital.
 .
 Core does a number of things:
 .
  * provides tail recursive versions of non tail recursive functions in
    the standard library;
  * changes the signature of many of the standard modules to enforce
    consistent naming conventions;
  * includes generic serialization for most types;
  * adds some new modules as well as new functionality to existing
    modules.
 .
 Beware that Core extends some functionality of the legacy standard
 library, and outright changes or replaces other; backward compatibility
 with the legacy standard library has not to be expected.
 .
 The code of Core is routinely reviewed within Jane Street Capital
 according to their quality assurance requirements.
 .
 This package contains the development stuff you need to use benchmark
 library of Core in your programs.

