Source: janest-core
Section: devel
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders: Stefano Zacchiroli <zack@debian.org>
Build-Depends: cdbs, debhelper (>= 7), quilt,
 ocaml-nox, camlp4, ocaml-findlib,
 libtype-conv-camlp4-dev,
 libbin-prot-camlp4-dev,
 libsexplib-camlp4-dev,
 libres-ocaml-dev,
 libounit-ocaml-dev
Standards-Version: 3.7.3
Vcs-Browser: http://git.debian.org/?p=pkg-ocaml-maint/packages/janest-core.git
Vcs-Git: git://git.debian.org/git/pkg-ocaml-maint/packages/janest-core.git
Homepage: http://www.janestcapital.com/ocaml/

Package: libcore-ocaml-dev
Section: libdevel
Architecture: any
Depends: ocaml-nox-${F:OCamlABI}, ocaml-findlib,
 libcore-ocaml (= ${binary:Version}),
 ${F:OCamlArchDeps},
 libsexplib-camlp4-dev,
 libres-ocaml-dev,
 ${shlibs:Depends}, ${misc:Depends}
Description: Jane Street Capital's alternative standard library for OCaml
 Core is Jane Street Capital's alternative standard library for OCaml.
 .
 Core does a number of things: it provides tail recursive versions of
 non tail recursive functions in the standard library; changes the
 signature of many of the standard modules; includes generic
 serialization for most types, and adds some entirely new modules and
 new functionality within existing modules.
 .
 Beware: Core extends some functionality from OCaml's standard
 library, and outright changes or replaces other. The goal is not to
 preserve complete compatibility with the standard.
 .
 This package contains the development stuff you need to use Core in
 your programs.

Package: libcore-ocaml
Section: libs
Architecture: any
Depends: ocaml-nox-${F:OCamlABI}, ocaml-findlib,
 ${shlibs:Depends}, ${misc:Depends}
Description: Jane Street Capital's alternative standard library for OCaml
 Core is Jane Street Capital's alternative standard library for OCaml.
 .
 Core does a number of things: it provides tail recursive versions of
 non tail recursive functions in the standard library; changes the
 signature of many of the standard modules; includes generic
 serialization for most types, and adds some entirely new modules and
 new functionality within existing modules.
 .
 Beware: Core extends some functionality from OCaml's standard
 library, and outright changes or replaces other. The goal is not to
 preserve complete compatibility with the standard.
 .
 This package contains the runtime stuff you need to run programs using
 Core.
