#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/class/ocaml.mk

LIB_NAME = core
DLL_PKG_NAME = lib$(LIB_NAME)-ocaml
DEV_PKG_NAME = lib$(LIB_NAME)-ocaml-dev
DEST_DIR = $(CURDIR)/debian/$(DEV_PKG_NAME)$(OCAML_STDLIB_DIR)
DEST_DLL_DIR = $(CURDIR)/debian/$(DLL_PKG_NAME)$(OCAML_DLL_DIR)

# If bin_prot is available we compile legacy library and depend on it, if it is
# not we patch the code to avoid requiring bin_prot. The list of archs below
# must match the archs on which libbin-prot-camlp4-dev package is available.
# When changing this list please remember to change README.Debian accordingly.
BIN_PROT_ARCHS = i386 amd64

ifeq (,$(findstring $(DEB_HOST_ARCH),$(BIN_PROT_ARCHS)))
# bin_prot is not available, we need to patch the code ...
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
else # bin_prot is available, add its dependency to control
DEB_DH_GENCONTROL_ARGS += -VF:OCamlArchDeps="libbin-prot-camlp4-dev"
endif

ifeq ($(OCAML_HAVE_OCAMLOPT),yes)
DEB_MAKE_BUILD_TARGET = all
DEB_MAKE_INSTALL_TARGET = install OCAMLFIND_INSTFLAGS="-destdir $(DEST_DIR) -ldconf ignore"
else
DEB_MAKE_BUILD_TARGET = byte
DEB_MAKE_INSTALL_TARGET = libinstall-byte-code OCAMLFIND_INSTFLAGS="-destdir $(DEST_DIR) -ldconf ignore"
endif

build/$(DEV_PKG_NAME)::
	mkdir -p $(DEST_DIR) $(DEST_DLL_DIR)
install/$(DEV_PKG_NAME)::
	mv $(DEST_DIR)/core/*.so $(DEST_DLL_DIR)

no-bin-prot-patch:
	rm -f debian/patches/no-bin-prot debian/patches/series
	git diff master no-bin-prot lib/ lib_test/	\
		| QUILT_PATCHES=debian/patches/		\
		  quilt import -P no-bin-prot /dev/stdin

